# .env
# .venv
# *.pyc
# .git
# ####

# __pycache_

# Python virtual environment
.venv/

# Git folder
.git/

# Environment variables / secrets
.env
server/.env

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/__pycache__/
*.pyc
